.city{
	width: 800px;
	height: 600px;
	margin: 0 auto;
	background: url(../img/map.png)no-repeat;
	background-color: #333333;
}
.yuan{
	border: 1px solid #009dfd;
	background-color: #009DFD;
	position: relative;left: 550px;top: 225px;
}
.yuan,.yuan1,.yuan2,.yuan3{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	box-shadow: 0 0 12px #009DFD;
}
.ck{
	position: relative;left: 660px;top: 489px;
}
.yuan1,.yuan2,.yuan3{
	transform: translate(-50%,-50%);
	position: absolute;left: 50%;top: 50%;
	animation-name: move;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
.yuan2{
	animation-delay: 0.4s;
}
.yuan3{
	animation-delay: 0.8s;
}
@keyframes move{
	0%{}
	100%{width: 40px;height: 40px;opacity: 0.5;}
}